body {
	
}


#button{
	text-align: center;
}

#startGame {
	width: 200px;
   
}

#restart {
	width: 200px;
}

ul li {
	display: flex;
	display: inline-block;
	list-style: none;
	justify-content: center;
	
}

ul .one {
	position: absolute;

	width: 600px;
	height: 150px;
 	display: flex;
 	text-align: center;
 	padding-left: 190px;
  
}

ul .two {
	position: absolute;
	
	width: 600px;
	height: 150px;
	display: flex;
	text-align: center;
	padding: auto;
 
 
  	
 	
  	

}

ul .three {
	position: absolute;
	
	margin-left: -150px;
	width: 600px;
	height: 150px;
	display: flex;
	text-align: center;
  	
   	
}


h1{
	text-align: center;
	font-size: 70px;
	font-family: "Impact", sans-serif;
	color: #2F4F4F;
	margin: 23px;
}


.circle {
	height: 100px;
	width: 100px;
	background-color: #555;
	border-radius: 50%; 
}

.circle:hover {
	background-color: #00FFFF;
}

.square {
 	height: 100px;
 	width: 100px;
	background-color: #555; 
}
.square:hover{
	background-color: #FFFF00;
}
.triangle {
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #555;
}

.triangle:hover{
	background-color: #FF00FF;
}

#countdownTimer {
    text-align: center;
	padding-top: 420px;
	font-size: 50px;
	font-family: "Impact", sans-serif;
}