body {
	
}


#button{
	text-align: center;
}

#startGame {
	width: 200px;
   
}

#restart {
	width: 200px;
}

ul li {
	display: flex;
	display: inline-block;
	list-style: none;
	justify-content: center;
	
}

ul .one {
	position: absolute;

	width: 600px;
	height: 150px;
 	display: flex;
 	text-align: center;
 	padding-left: 190px;
  
}

ul .two {
	position: absolute;
	
	width: 600px;
	height: 150px;
	display: flex;
	text-align: center;
	padding: auto;
 
 
  	
 	
  	

}

ul .three {
	position: absolute;
	
	margin-left: -150px;
	width: 600px;
	height: 150px;
	display: flex;
	text-align: center;
  	
   	
}


h1{
	text-align: center;
	font-size: 70px;
	font-family: "Impact", sans-serif;
	color: #2F4F4F;
	margin: 23px;
}


.circle {
	height: 100px;
	width: 100px;
	background-color: #555;
	border-radius: 50%;
	
    
}

.square {
 	height: 100px;
 	width: 100px;
	background-color: #555;
	   
}

.triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #555;
  
}

#countdownTimer {
    text-align: center;
	padding-top: 420px;
	font-size: 50px;
	font-family: "Impact", sans-serif;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
